*{
  margin: 0;
  padding: 0;
}

.banner img{
  object-fit: cover;
  width: 150%;
  height: 300px;

}

.banner{
position: relative;
width: 100%;

}

.galeria img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

.galeria{
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding: 30px  80px;
 gap: 70px;
 align-items: center;

}

header img{
filter: invert(0%);
width: 150px;
padding: 50px;
}
@media screen and (max-whidth:400px) {
header{
  display: flex;
  justify-content: center;
}
  }

header{
  background-color: #10422C;
  color: aliceblue;
 
  font-size:larger;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
}

@media screen and (max-whidth:400px) {
  .evento{
flex-direction: column;
gap: 10px;
  }
  
}

.coluna1{
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px 30px;
  justify-content: center
}

.coluna2{
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 10px 30px;
  justify-content: center
}

.banner h1{
  position: absolute;
  color: aliceblue;
  top: 40%;
  left: 46%;
  font-family: 'Courier New', Courier, monospace;
}

.Livros img{
  width: 250px;
  border-radius: 25px;
  gap:30px;
  margin: 20px;
}

.Livros{
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  margin: 50px;
  list-style: none;
}

footer{
    background-color:#10422C;
    color: aliceblue;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    
    
}